@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

/* для удаления стрелок в инпутах */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wraper {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

.header {
  padding: 10px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  color: #1d1d4a;
}
@media (max-width: 750px) {
  .logo {
    order: 1;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 345px;
}
@media (max-width: 750px) {
  .nav {
    width: 100%;
    order: 3;
  }
}
.nav__list {
  padding: 10px;
  display: flex;
}
@media (max-width: 767px) {
  .nav__list {
    flex: 1 1 100%;
    justify-content: space-between;
  }
}
.nav__item {
  opacity: 0.5;
}
@media (min-width: 1000px) {
  .nav__item {
    margin-right: 10%;
  }
}
@media (max-width: 1000px) {
  .nav__item {
    margin-right: 2%;
  }
}
.nav__link {
  display: block;
  font-size: 11px;
  font-weight: 500;
  color: #1d1d4a;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px 15px;
  transition: 0.5s;
}
.nav__link:hover {
  opacity: 1;
  border-radius: 6px;
  border: 1px solid rgba(29, 29, 74, 0.5);
  transition: 0.5s;
}
.nav__btn {
  width: 77px;
  height: 30px;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  background: none;
  transition: 0.5s;
}
@media (max-width: 750px) {
  .nav__btn {
    order: 1;
  }
}
.nav__btn:hover {
  background-color: #1d1d4a;
  color: #fff;
  transition: 0.5s;
}

.main__hero {
  background-color: #cde3e6;
  overflow: hidden;
}
.main .hero__container {
  display: flex;
  align-items: center;
  min-height: 599px;
}
@media (max-width: 1200px) {
  .main .hero__container {
    flex-wrap: wrap;
  }
}
.main .hero__left {
  min-height: 351px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1200px) {
  .main .hero__left {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
}
.main .hero__title {
  font-size: 55px;
  font-weight: 600;
  line-height: 62px;
  max-width: 527px;
  color: #1d1d4a;
}
.main .hero__subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  max-width: 400px;
  color: #1d1d4a;
}
@media (max-width: 1200px) {
  .main .hero__right {
    width: 100%;
  }
}
.main .hero__slider {
  display: flex;
  justify-content: space-between;
  width: 747px;
}
@media (max-width: 1200px) {
  .main .hero__slider {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .main .hero__slider {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .main .hero__slider {
    transform: translateX(200px);
  }
}
.main .hero__btn {
  background-color: #1d1d4a;
  color: white;
  width: 119px;
  height: 39px;
  border: 1px solid #1d1d4a;
  transition: 0.5s;
  border-radius: 6px;
}
.main .hero__btn:hover {
  background: none;
  color: #1d1d4a;
  transition: 0.5s;
}
.main .slider__card {
  background: none;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
}
.main .slider__map {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 30px;
}
@media (min-width: 1200px) {
  .main .slider__map {
    transform: translateX(200px);
  }
}

.main__member {
  padding: 100px 0;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.member__btns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 900px) {
  .member__btns {
    visibility: hidden;
  }
}
.member--btn {
  padding: 8px 15px;
  background-color: #1d1d4a;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0);
}
.member--btn:hover {
  background: none;
  color: #1d1d4a;
  border: 1px solid #1d1d4a;
  transition: 0.5s;
}
.member__btn {
  width: 51px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #1d1d4a;
  transition: 0.5s;
  border-radius: 3px;
}
.member__btn:hover {
  transition: 0.5s;
  background: #1d1d4a;
  color: #fff;
}
.member__title {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
}
.member__slider {
  width: 100%;
  padding: 40px 0;
  overflow: auto;
  display: flex;
  align-items: start;
  gap: 10px;
}
.member__slider::-webkit-scrollbar {
  width: 0;
}
.member__card > img {
  width: 209px;
}
.member .card__text {
  font-size: 24px;
  font-weight: 500;
}
.member__card--btn,
.member .prices {
  visibility: hidden;
}
.member__card--btn {
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  width: 126px;
  height: 35px;
}
.member__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  transition: 0.5s;
}
.member__card:hover {
  position: relative;
  background: #d9fecd;
  border-radius: 7px;
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}
.member__card:hover .card__img {
  background: none;
}
.member__card:hover .member__card--btn {
  visibility: visible;
}
.member__card:hover .prices {
  visibility: visible;
}
.member__card:hover .coment {
  display: none;
}
.member .card__img {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.member .coment {
  width: 220px;
  font-size: 12px;
  font-weight: 400;
}

.prices__price.promotion {
  opacity: 0.5;
  text-decoration: line-through;
  margin-right: 5px;
}